[submodule "firmware/c_board/vendor/dji"]
	path = firmware/c_board/vendor/dji
	url = https://github.com/RoboMaster/Development-Board-C-Examples.git
[submodule "firmware/c_board/vendor/fashionstar"]
	path = firmware/c_board/vendor/fashionstar
	url = https://github.com/servodevelop/servo-uart-rs485-sdk.git
